.slide {
  font-family: verdana, arial;
  background-color: white;
}
h1, h2 {
  font-weight: bold;
  color: forestgreen;
  text-shadow: 1px 1px 2px #111;
}
.subsection h1, .subsection h2 {
  color: white;
  background-color: darkgreen;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 10px 10px 30px #444;
  text-shadow: -1px -1px 2px #111;
}
.full-page p {
  margin: 0;
}
.content {
  color: dimgray;
}
.results {
  color: lime;
}
li code {
  /* font-size: 110%;*/
  background-color: ghostwhite;
  border: 2px solid #dedede;
  border-radius: 4px;
  padding: 0.1em 0.3em;
}
